<btn class="btn btn-primary" id="addperson">Add Person</btn>
<table class="table-hover table-striped table table-bordered" id="people-tbl">
	<tr>
		<th style="text-align: center; vertical-align: middle;">First Name</th>
		<th style="text-align: center; vertical-align: middle;">Last Name</th>
		<th style="text-align: center; vertical-align: middle;">Age</th>
		<th style="text-align: center; vertical-align: middle;">Actions</th>
	</tr>
	<tr class="tbltd">
		<td>{Person.FirstName}</td>
		<td>{Person.LastName}</td>
		<td>Person.Age</td>
		<td>
			<button class="btn btn-danger" data-id="{Person.Id}">Delete</button>
			<button class="btn btn-primary" id="editperson" data-personid="{Person.Id}" data-fn="{Person.FirstName}" data-ln="{Person.LastName}" data-age="{Person.Age}">Edit</button>
		</td>
	</tr>
</table>


<div class="modal fade" id="personmng" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input class="form-control" id="mdl-id" value="0" type="hidden">
				</div>
				<div class="form-group">
					<input class="form-control" id="mdl-fn" placeholder="First Name" type="text">
				</div>
				<div class="form-group">
					<input class="form-control" id="mdl-ln" placeholder="Last Name" type="text">
				</div>
				<div class="form-group">
					<input class="form-control" id="mdl-age" placeholder="Age" type="number">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				@*<input class="btn btn-primary submit" id="submit" hidden="hidden">*@
				<button type="button" id="submit" class="btn btn-primary"></button>
				@*<input class="btn btn-success" value="edit" id="edit">*@
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
	<script src="~/Scripts/Index.js"></script>
}